{% extends 'ECBApp/base.html' %}
{% load static %}
{% load custom_filters %}


{% block breadcrumb %}
    {% for crumb in breadcrumb %}
        <a href="{{ crumb.url }}" class="breadcrumb-item">{{ crumb.name }}</a>
        {% if not forloop.last %} / {% endif %}
    {% endfor %}
{% endblock %}

{% block header_title %}
    Dashboard
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/charts.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v=1.0">
    
</head>
<body>
    <div class="container"> 
        <div class="home-background">
            <img src="{% static 'images/backgrounddd.png' %}" alt="Background">
            <div class="overlay">
                <h1>Electric Consumption Billing</h1>
                <p>Effortless Electric Billing for Utilities: Simplify data management, automate billing, and provide customers with seamless access—all with the ECB System.</p>
            </div>
        </div>
    </div>

</body>
</html>
{% endblock %}