<!-- dashboard.html -->
<h2>Dashboard</h2>
<p>Welcome, {{ request.user.first_name }}!</p>
<a href="{% url 'logout' %}">Logout</a>

<a href="{% url 'profile' %}">Profile</a>

<h2>Bills</h2>
<ul>
    {% for bill in bills %}
    <li>Bill ID: {{ bill.billID }} | Amount: {{ bill.totalAmount }} | Due: {{ bill.dueDate }}</li>
    {% empty %}
        <li>No bills available.</li>
    {% endfor %}
</ul>

<h2>Payment History</h2>
<ul>
    {% for payment in payments %}
    <li>Payment ID: {{ payment.paymentID }} | Amount: {{ payment.amountPaid }} | Date: {{ payment.paymentDate }}</li>
    {% empty %}
    <li>No payments made yet.</li>
    {% endfor %}
</ul>
</ul>
