{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/charts.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">
                <img src="{% static 'images/ecblogo.png' %}" alt="Logo">
                <h2>Electricity Consumption<br>Bill</h2>
            </div>
            <nav class="menu">
                <a href="{% url 'dashboard' %}">
                    <i class="fas fa-home"></i> Home
                </a>
                <a href="#">
                    <i class="fas fa-chart-bar"></i> Reports
                </a>
                <a href="#">
                    <i class="fas fa-user-cog"></i> Manage User
                </a>
                <a href="{% url 'view_bill' %}">
                    <i class="fas fa-file-invoice-dollar"></i> View Bill
                </a>
                <a href="{% url 'profile' %}">
                    <i class="fas fa-user-circle"></i> Profile
                </a>
            </nav>
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </div>
        <div class="main-content">
            <!-- Header -->
            <div class="header">
                <div class="breadcrumb">
                    <p>Home / View Bill</p>
                    <h1>View Bill</h1>
                    <p class="branch">Cebu Branch</p>
                </div>
                <div class="user-settings">
                    <input type="text" alt = "search-bar input" placeholder="Search">
                    <div class="toggle-theme">
                        <button id="theme-toggle">
                            <i class="fas fa-sun"></i>
                            <i class="fas fa-moon" style="display: none;"></i>
                        </button>
                    </div>
                    <img src="{% static 'images/profile-pic.png' %}" alt="User">
                </div>
            </div>
        <!-- Home Background -->
        <div class="home-background">
            <img src="{% static 'images/backgrounddd.png' %}" alt="Background">
            <div class="overlay">
                <h1>Electric Consumption Billing</h1>
                <p>Effortless Electric Billing for Utilities: Simplify data management, automate billing, and provide customers with seamless access—all with the ECB System.</p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>