.container-payment {
    max-width: 800px;
    margin: 40px auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-content-payment {
    padding: 20px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.amount-due {
    font-size: 20px;
    color: #ff5722;
    font-weight: bold;
}


form fieldset {
    border: none;
    margin-bottom: 20px;
    padding: 0;
}

form legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f44336;
}

form input {
    width: 96%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form select {
    width: 99.5%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form textarea {
    width: 96%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background: linear-gradient(90deg, #ff3b58, #ff7a38);
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background: linear-gradient(90deg, #eb082a, #f3590b);
}

.form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
}

.breadcrumb .breadcrumb-item {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

.breadcrumb .breadcrumb-item:hover {
    text-decoration: underline;
}
