.container-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1000px; /* Maximum width to maintain design consistency */
    margin: 0 auto;
    box-sizing: border-box;
}

.form-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 20px;
    height: auto; /* Make the card's height flexible */
    overflow-y: auto;
    width: 100%;
    max-width: 100%; /* Ensure it doesn't exceed the container width */
}

.form-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

form fieldset {
    border: none;
    margin-bottom: 20px;
    padding: 0;
}

form legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f44336;
}

form input, form select, form textarea {
    width: 96.5%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background: linear-gradient(90deg, #ff3b58, #ff7a38);
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background: linear-gradient(90deg, #eb082a, #f3590b);
}

.breadcrumb .breadcrumb-item {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

.breadcrumb .breadcrumb-item:hover {
    text-decoration: underline;
}